/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* playfair-display-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/playfair-display-v37-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

body {
  margin: 0;
}

.address > p {
  margin: 0
}

* {
  font-family: 'Roboto', serif;
}

.icon {
  height: 25px;
  width: 25px;
}

.icon.medium {
  height: 35px;
  width: 35px;
}

.icon.large {
  height: 45px;
  width: 45px;
  margin-top: 1rem;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 1rem;
}

h3 {
  font-size: 30px;
  font-weight: 200;
  margin: 0;
}

.links {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.grid-project {
  display: grid;
  justify-items: center;
  gap: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.desc-info > p {
  color: #4b5563;
}

.container-project {
  margin-left: 1rem;
  margin-right: 1rem;
  box-shadow: 5px 5px 10px #888888;
  display: flex;
  flex-direction: column;
}

.desc-info {
  min-height: 180px;
}

.project-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.project-description {
  margin-left: 1rem;
  margin-right: 1rem;
}

.container-contact {
  color: white;
  background-color: #6366f1;
  padding: 0 1rem 1rem;
  margin-top: 1rem;
  padding-bottom: 4rem;
}

.container-contact > h2 {
  display: flex;
  justify-content: center;
}
.call-to-action {
  font-size: 24px;
  margin-top: 0;
}

img {
  width: 100%;
}

.header-name {
  font-size: 80px;
  position: absolute;
  text-align: start;
  transform: translate(12%, -130%);
  font-weight: 400;
}

.header-image {
  width: 80%;
  filter: drop-shadow(0 5px 5px black);
  margin-top: 1.5rem;
}

.container-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  font-size: 24px;
}

.container-about > p {
  color: #4b5563;
}

.header {
  position: relative;
  text-align: center;
  color: white;
  margin-top: 1rem;
  transform: skewY(30deg) translateY(25%)
}

.decorative-shape {
  background: #6366f1;
  transform: skewY(-30deg) translateY(-25%)
}

@media (max-width: 365px) {
  .header-name {
    font-size: 60px;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .container-about > .links {
    display: none;
  }

  .decorative-shape {
    transform: skewY(-15deg) translateY(-40%);
  }

  .header-image {
    width: 40%;
    transform: translateX(-60%) translateY(25%);
  }

  .header {
    transform: skewY(15deg) translateY(25%);
    min-height: 500px;
  }

  .header-name {
    transform: translate(50%, -290%);
    font-weight: 400;
  }

  .container-about {
    background: white;
    box-shadow: 5px 5px 10px #888888;
    padding: 1rem;
    transform: translateY(-100%);
    width: 70%;
  }
}