/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* playfair-display-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/playfair-display-v37-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --theme-primary-color: #6366f1;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

body {
  margin: 0;
}

.address > p {
  margin: 0;
}

* {
  font-family: 'Roboto', serif;
}

.icon {
  height: 25px;
  width: 25px;
}

.icon.medium {
  height: 35px;
  width: 35px;
}

.icon.large {
  height: 45px;
  width: 45px;
  margin-top: 1rem;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 1rem;
}

h3 {
  font-size: 20px;
  font-weight: 200;
  margin: 0;
}

.links {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.grid-project {
  display: grid;
  justify-items: center;
  gap: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.desc-info > p {
  color: #4b5563;
}

.container-project {
  margin-left: 1rem;
  margin-right: 1rem;
  box-shadow: 5px 5px 10px #888888;
  display: flex;
  flex-direction: column;
}

.desc-info {
  min-height: 180px;
}

.project-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.project-description {
  margin-left: 1rem;
  margin-right: 1rem;
}

.container-contact {
  color: white;
  padding: 0 1rem 1rem;
  margin-top: 1rem;
  padding-bottom: 4rem;
}

.container-contact > h2 {
  display: flex;
  justify-content: center;
}
.call-to-action {
  font-size: 18px;
  margin-top: 0;
}

img {
  width: 100%;
}

.header-name {
  font-size: 45px;
  position: absolute;
  text-align: start;
  transform: translate(12%, -130%);
  font-weight: 400;
}

.header-image {
  width: 80%;
  filter: drop-shadow(0 5px 5px black);
  margin-top: 1.5rem;
}

.container-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  font-size: 16px;
}

.container-about > p {
  color: #4b5563;
}

.header {
  position: relative;
  text-align: center;
  color: white;
  margin-top: 1rem;
  transform: skewY(30deg) translateY(25%)
}

.decorative-shape {
  background: var(--theme-primary-color);
  transform: skewY(-30deg) translateY(-25%)
}

.contact > img {
  display: none;
}

.contact {
  margin-bottom: 0.5rem;
}

.my-work {
  padding-left: 2rem;
}

@media (max-width: 365px) {
  .header-name {
    font-size: 60px;
  }
}

@media (min-width: 481px) and (max-width: 700px) {
  .container-about > .links {
    display: none;
  }

  .section-about> p {
    margin: 2rem;
  }

  .title-about {
    text-align: center;
  }

  .decorative-shape {
    transform: skewY(-15deg) translateY(-35%);
  }

  .header-image {
    width: 50%;
    float: left;
    margin: 0.5rem;
    margin-right: 1.5rem;
    transform: translateX(-12%) translateY(-12%) scale(1.25);
  }

  .header-name {
    color: white;
    font-weight: 400;
    z-index: 2;
    font-size: 50px;
    position: absolute;
    top: 80px;
    right: 50px;
  }

  .container-about {
    background: white;
    box-shadow: 5px 5px 10px #888888;
    padding: 1rem;
    width: 75%;
    display: block;
    transform: skewY(15deg) translateY(60%);
    margin-top: 6rem;
    margin-bottom: 5rem;
  }

  .grid-project {
    display: grid;
    margin-left: 1rem;
    margin-right: 1rem;
    column-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 8rem;
  }

  .container-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 25rem;
  }

  footer {
    display: flex;
    background-color: var(--theme-primary-color);
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
  }

  .footer-image {
    max-width: 300px;
  }

  .contact {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .contact > img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(77deg) brightness(102%) contrast(105%);
    display: block;
  }

  .address {
    margin-bottom: 1rem;
  }
}

@media (min-width: 701px) and (max-width: 1024px) {
  .container-about > .links {
    display: none;
  }

  .section-about> p {
    margin: 2rem;
  }

  p {
    font-size: 20px;
  }

  .call-to-action {
    font-size: 20px;
  }

  .title-about {
    text-align: center;
  }

  .decorative-shape {
    transform: skewY(-15deg) translateY(-35%);
  }

  .header-image {
    width: 50%;
    float: left;
    margin: 0.5rem;
    margin-right: 1.5rem;
    transform: translateX(-12%) translateY(-12%) scale(1.25);
  }

  .header-name {
    color: white;
    font-weight: 400;
    z-index: 2;
    font-size: 80px;
    position: absolute;
    top: 100px;
    right: 90px;
  }

  .container-about {
    background: white;
    box-shadow: 5px 5px 10px #888888;
    padding: 1rem;
    width: 75%;
    display: block;
    transform: skewY(15deg) translateY(60%);
    margin-top: 6rem;
    margin-bottom: 5rem;
  }

  .grid-project {
    display: grid;
    margin-left: 1rem;
    margin-right: 1rem;
    column-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 8rem;
  }

  .container-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 25rem;
  }

  footer {
    display: flex;
    background-color: var(--theme-primary-color);
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
  }

  .footer-image {
    max-width: 300px;
  }

  .contact {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .contact > img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(77deg) brightness(102%) contrast(105%);
    display: block;
  }

  .address {
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 24px;
  }
}